body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  font-family: sans-serif;
}

#mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  color: #ffffff;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #222222;
  border-bottom: solid #333 1px;
}

.navBut {
  border: none;
  background: transparent;
  color: #ffffff;
}

.searchBar {
  display: none;
  padding: 0 10px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  max-width: 200px;
  margin-left: 5px;
  box-sizing: border-box;
  transition: 0.4s;
}

.searchBar:focus{
 outline: none;
 border: 1px solid white;
}

.searchBut{
  border: none;
  background: transparent;
}

.searchImg{
  width: 20px;
  height: 20px;
  filter: invert(1);
}

#title{
  font-size: 20px;
  text-align: center;
  color: white;
}

/* about area */

.note{
  color: #ff4d4d;
}

.show{
  display: block;
}

.aboutUs{
  border: solid #333 2px;
  background-color: #222222;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: white;
  width: 90%;
  box-sizing: border-box;
}

.buttonsSec{
  border: solid #333 1px;
  background-color: #222222;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.focusBut{
  border-bottom: solid white 1px;
}

.homeLogo{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* pages css is here */

.page{
  border: solid #333 2px;
  background-color: #222222;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
  color: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
}

/* MOBILE FIX */

@media (max-width: 600px){

  body{
    width: 100%;
    overflow-x: hidden;
  }

  header{
    flex-wrap: nowrap;
    gap: 10px;
  }

  #title{
    font-size: 18px;
  }

  .searchBar{
    width: 180px;
    max-width: 180px;
  }

  .page{
    width: 95%;
  }

  .buttonsSec{
    width: 95%;
  }

  .aboutUs{
    width: 95%;
  }

}

